<!--
	Zprojektować prostą aplikację, która będzie od użytkownika przyjmowala
	trzy informacje:
	- sumaryczną kwotę do podziału (pole input)
	- pole z wyborem waluty (pole select w stylu ComboBox)
	- pole, w którym wprowadzimy na ile części kwota ma być podzielona (pole input)
	
	Wygląd aplikacji:
	- warstwa wyśrodkowana w szerokości, rozmiar maksymalny 80% (warstwa 
	to np. div, section, main) 
	- tło całej strony ciemny szary 
	- tło utworzonej warstwy białe
	- przycisk O kolorze niebieskim, wysokość 35 px, reakcja na
	  najazd myszy i na kliknięcie (ma zmieniać wygląd)
	- pola input powinny zawierać podpowiedź
	- przestrzeń strony powinna zawsze zajmować 100% wysokości (
	nie powinno się dopuścić do pojawienia się jakichkolwiek suwaków,
	sprawdzić miary/jednostki CSS %, rem, vh, vw)
	- utworzona warstwa, prócz wyżej wymienionych elementów powinna zawierać
	pole wyjściowe dla naszego wyniku, który powinien być opatrzony
	tekstem "Kwota <calosc> podzielona na <n> części wynosi: <kwota>", gdzie
	<n> to wprowadzona przez użytkownika liczba, <calosc> to również wprowadzona
	kwota przez użytkownika, a <kwota> to po prostu podzielona na części
	<calosc>; przed wprowadzeniej jakiejkowiek kwoty tekst powinien informować,
	że jak na razie nic nie zostało wprowadzone
-->
<script>
	/*
		utworzyć funkcje, której zadaniem będzie przeliczyć wprowadzone
		przez użytkownika dane w następujący sposób:
		- pobrać kwotę
		- podzielić przez pobraną ilość części
		- SPRAWDZIĆ, czy podział jest równy (może niekiedy wyjść 
		ułamek niewymierny, wptedy zaproponować dołożenie różnicy do
		jednej z części)
		- wyświetlić wynik w odpowiednim polu (jeżeli wyszły części
		niewymierne należy dołożyć odpowiedni tekst)
		
		WAŻNE! Zadbać o odpowiedni zapis sumy (dwa miejsca po przecinku)
		JS posiada odpowiednią funkcje, można też skorzystać z 
		własności matematycznych podziału przez odpowiednią liczbę
		
		https://stackoverflow.com/questions/661562/how-to-format-a-float-in-javascript
	*/
</script>
	